<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="model" value="$(arg model)"/>

  <!-- covid_bot_teleop_key already has its own built in velocity smoother -->
  <node pkg="covid_bot_teleop" type="covid_bot_teleop_key" name="covid_bot_teleop_keyboard"  output="screen">
  </node>
</launch>
