<launch>

<arg name="x_pos" default="0.0"/>
<arg name="y_pos" default="0.0"/>
<arg name="z_pos" default="0.0"/>
<arg name="open_rviz" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find covid_bot_description)/urdf/covid_bot.xacro" />
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -urdf -model covid_bot" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find covid_bot_gazebo)/worlds/narrow.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>   
  </include>
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

  <group if="$(arg open_rviz)"> 
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find covid_bot_description)/rviz/model.rviz" respawn="true"/>
  </group>
</launch>
